{% extends "section.html" %}

{% block body %}
  {% set page_class = "search list" %}
{% endblock body %}

{% block header %}
  {# This value is matched by the config.extra.menu.main~url #}
  {% set current_section = "search" %}
  {{ macros_header::header(current_section=current_section)}}
{% endblock header %}

{% block content %}
<div class="wrap container" role="document">
  <div class="content">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-10 col-xl-8">
        <article>
          <h1 class="text-center">{{ section.title }}</h1>
          {{ section.content | safe }}
          <div id="search-results"></div>
        </article>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block javascript %}
  {{ macros_js::javascript() }}
  <script>
    document.addEventListener("DOMContentLoaded", function () {

      const searchResults = (searchTerm) => {
        if (searchTerm && searchTerm.trim()) {
          const index = elasticlunr.Index.load(window.searchIndex);
          const options = {
            bool: "OR",
            fields: {
              title: {boost: 2},
              body: {boost: 1},
            }
          };

          return index.search(searchTerm.trim(), options);
        }

        return [];
      };

      const pageCard = (page, searchTerm) => {
        const teaser = makeTeaser(page.doc.body, searchTerm.split(/\s+/));
        return `
          <li class="list-unstyled">
            <div class="position-relative">
              <a class="stretched-link" href="${page.ref}">
                ${page.doc.title} &rarr;
              </a>
                <p>${teaser}</p>
            </div>
          </li>
        `
      };

      const searchTerm = new URLSearchParams(window.location.search).get("q");
      const results = searchResults(searchTerm);

      const resultsElem = document.getElementById("search-results");

      if (results && results.length) {
        resultsList = document.createElement('ul');
        results.forEach(result => {
          resultsList.innerHTML += pageCard(result, searchTerm);
        });
        resultsElem.appendChild(resultsList);
      } else {
        resultsElem.innerHTML = `<p>No results found for <em>${searchTerm}</em><p>`
      }
    });
  </script>
{% endblock javascript%}
