{% macro header(current_section) %}
<div class="header-bar fixed-top"></div>
<header class="navbar fixed-top navbar-expand-md navbar-light">
  <div class="container">
    <input class="menu-btn order-0" type="checkbox" id="menu-btn">
    <label class="menu-icon d-md-none" for="menu-btn"><span class="navicon"></span></label>
    <a class="navbar-brand order-1 order-md-0 me-auto" href="{{ config.base_url | safe }}">
      <img src="/icon.png" width="32" height="32" class="d-inline-block align-bottom" alt="Status Cron logo">
      {{ config.title | default(value="AdiDoks") }}
    </a>
    <button id="mode" class="btn btn-link order-2 order-md-4" type="button" aria-label="Toggle mode">
      <span class="toggle-dark"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-moon"><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path></svg></span>
      <span class="toggle-light"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sun"><circle cx="12" cy="12" r="5"></circle><line x1="12" y1="1" x2="12" y2="3"></line><line x1="12" y1="21" x2="12" y2="23"></line><line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line><line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line><line x1="1" y1="12" x2="3" y2="12"></line><line x1="21" y1="12" x2="23" y2="12"></line><line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line><line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line></svg></span>
    </button>
    <ul class="navbar-nav fork-me order-3 order-md-5">
      {% if config.extra.menu.social %}
        {% for val in config.extra.menu.social %}
          <li class="nav-item">
            <a class="nav-link" href="{{ val.url | safe }}">{{ val.pre | safe }}<span class="ms-2 visually-hidden">{{ val.name }}</span></a>
          </li>
        {% endfor %}
      {% endif %}
    </ul>
    <div class="collapse navbar-collapse order-4 order-md-1">
      <ul class="navbar-nav main-nav me-auto order-5 order-md-2">
        {% if config.extra.menu.main %}
          {% for val in config.extra.menu.main %}
            <li class="nav-item{% if current_section == val.section %} {{ current_section }} active{% endif %}">
              <a class="nav-link" href="{{ get_url(path=val.url, trailing_slash=true) | safe }}">{{ val.name }}</a>
            </li>
          {% endfor %}
        {% endif %}
      </ul>
      <div class="break order-6 d-md-none"></div>
      {% if config.build_search_index %}
        <form class="navbar-form flex-grow-1 order-7 order-md-3" action="{{ get_url(path='@/search/_index.md')}}" method="get">
          <input name="q" id="userinput" class="form-control is-search" type="search" placeholder="Search..."
            aria-label="Search..." autocomplete="off">
          <div id="suggestions" class="shadow bg-white rounded"></div>
        </form>
      {% endif %}
    </div>
  </div>
</header>
{% endmacro %}
