{% extends "section.html" %}

{% block body %}
  {% set page_class = "docs list" %}
{% endblock body %}

{% block header %}
  {# This value is matched by the config.extra.menu.main~section #}
  {% set current_section = "docs" %}
  {{ macros_header::header(current_section=current_section)}}
{% endblock header %}

{% block content %}
<div class="wrap container" role="document">
  <div class="content">
    <div class="row flex-xl-nowrap">
	  {{ macros_sidebar::docs_sidebar(current_section=current_section) }}
	  {{ macros_toc::docs_toc(page=section) }}
      <main class="docs-content col-lg-11 col-xl-9">
        <h1>{{ section.title }}</h1>
        {% if section.extra.lead %}<p class="lead">{{ section.extra.lead | safe }}</p>{% endif %}
        {{ section.content | safe }}
        {% if config.extra.edit_page %}
          {{ macros_edit_page::docs_edit_page(current_path=current_path) }}
        {% endif %}
        {#{{ macros_navigation::docs_navigation(page=section, current_section="docs") }}#}
      </main>
    </div>
  </div>
</div>
{% endblock content %}
